@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.fade-in-animation {
    animation: fadeIn 0.5s ease-in-out;
}
